<div class='container'>
<hr>

<p>{{PAGE}} generated {{DATE}}. <a href='#top'>Back to top</a></p>
<p>
Copyleft. 2017-2018 {{SITE_NAME}} &middot; <a href='{{SITE_URL}}/privacy/'>Privacy</a> &middot; <a href='https://git.joepcs.com/projects/blog'>Source</a> &middot; <a href='https://git.joepcs.com/logs/git.html'>logs</a></p> 
<br><br>
</div>

<script src='{{SITE_URL}}/assets/main.js'></script>

</body></html>
