<!DOCTYPE html>
<html lang='en'>
<head>
<title>{{SITE_NAME}}  {{PAGE}}</title>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1' shrink-to-fit='no'>
<meta name='description' content='blog'>
<meta name='author' content='Jose A Mendoza'>

<link rel='stylesheet' href='{{SITE_URL}}/assets/style.css'>

<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.1.0/css/all.css' integrity='sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt' crossorigin='anonymous'>

</head><body>
<nav class='nav' tabindex='-1' onclick="this.focus()">
<div class='container'>
<b> <a href='{{SITE_URL}}'>&#91;{{SITE_NAME}}&#93;</a>
