<a href="{{SITE_URL}}">1&#58;Home</a> 

<a href="{{SITE_URL}}/posts/">2&#58;Posts&#42;</a>

<a href="{{SITE_URL}}/contact/">3&#58;Contact</a>

<a href="{{SITE_URL}}/resources/">4&#58;Links</a>


</b>

<!--End Menu-->
</div>
</nav>
<button class="btn-close btn btn-sm">×</button>

<!-- page content starts here -->
<div class="container"><a name="top">&nbsp;</a>
